/* mixin */
=inner($inner)
  max-width: $inner
  margin: auto

//トップに戻るbutton
=topbtn
  background-image: url(../img/footer_icon_arrow_01.png)
  width: 5.5rem
  height: 5.5rem
  color: $font-color
//mvのボタンでaboutに移動する
=mvbtn
  background-image: url(../img/mv_icon_arrow_01.png)
  width: 5.5rem
  height: 5.5rem
  color: $font-color

$layout-width-inner: 768px
/* sp: スマホ */
/* +sp: スマホ以上でタブレットとpc共通 */
/* tab: タブレット */
/* pc: パソコン */
$breakpoints: ("sp": "screen and (max-width: 767px)","pc": "screen and (min-width: #{$layout-width-inner})")
// メディアクエリー
=mq($breakpoint: sp)
  @media #{map-get($breakpoints, $breakpoint)}
    @content

/* 変数 */
$font-color: #937218
$bg-color: #f1f1f1

/* style */

$font: "\\6E38明朝体", YuMincho, "\\6E38明朝", "Yu Mincho", "\\30D2ラギノ明朝ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "\\30D2ラギノ明朝ProN", "Hiragino Mincho ProN", "\\30D2ラギノ明朝Pro", "Hiragino Mincho Pro", "HGS明朝 E", "ＭＳ Ｐ明朝", "MS PMincho", serif
$font_en: 'Sorts Mill Goudy', serif

.fadein
  opacity: 1
  transition: 3s ease-in-out
  -webkit-transition: 3s ease-in-out


a
  color: $font-color
  text-decoration: none
a, button
  transition: .3s
  &:hover
    opacity: .6

html
  font-size: 62.5%

body
  font-size: 1.6rem
  line-height: 1.5
  font-family: $font
  color: $font-color
  background: $bg-color
  //+inner(0000px)
  // その都度ここに追加
*
  box-sizing: border-box
​
ul,ol
  list-style: none
  padding-left: 0
  margin: 0

dl, dt, dd
  margin: 0

img
  margin: 0
  padding: 0
  vertical-align: bottom

input, select, textarea
  outline: none