<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title コーディング練習
    meta(name="description" content="メンターとの模写")
    meta(name="keywords" content="模写、コーディング, HTML")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css")
    link(href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet")
  body
    header.header
      .header__container
        .header__trigger
          span
          span
          span
        nav.header__nav
          ul.header__list
            li.header__list__item
              a(href="/") HOME
            li.header__list__item
              a(href="About") ABOUT
            li.header__list__item
              a(href="System") SYSTEM
            li.header__list__item
              a(href="Menu") MENU
            li.header__list__item
              a(href="#Shop") SHOP
            li.header__list__item
              a(href="#Contact") CONTACT
            small ©tocotoco trimming salon
        a(href="/")
          h1.header__logo
    main
      section.mainvisual
        .mainvisual__container
          .swiper-container.slider1
            .swiper-wrapper
              .swiper-slide
                img.swiper-slide__img(src="../img/mv_img_01.png" alt="Swiper01")
                .swiper-slide-content.swiper-slide-content-1
                  span IMAGE PHOTO,TRIMMING
              .swiper-slide
                img.swiper-slide__img(src="../img/mv_img_02.png" alt="Swiper02")
                .swiper-slide-content.swiper-slide-content-2
                  span IMAGE PHOTO,ENTRANCE
              .swiper-slide
                img.swiper-slide__img(src="../img/mv_img_03.png" alt="Swiper03")
                .swiper-slide-content.swiper-slide-content-3
                  span IMAGE PHOTO,INTERIOR
            .mainvisual__contents
              h2.mainvisual__logo
              .mainvisual__logo__text
                | 1F, No.2 shinmei Bldg. 3-6-7, Kinjo,<br>
                | Kita-ku Nagoya-shi,<br>
                | Aichi, 462-0847, Japan
            .mainvisual__line
              span.mainvisual__line--min 1
              .swiper-pagination
              span.mainvisual__line--max 3
            //btn画像
            .mainvisual__scroll#scroll
              a(href="#About").mainvisual__btn

      section.about#About
        .about__container
          h2.about__title ABOUT
            span.about__title--line
            span.about__title--text 私たちの思い
            .about__side CONTENT 01
          p.about__text2
            |「ワンちゃん」のことをとことん考えた、<br>
            |「ワンちゃん」に優しい、<br>
            | ストレスケアをしっかり考えたお店。
          a(href="#")
            .btn READ MORE

      section.menu#Menu
        .menu__container
          .menu__content
            img(src="/img/about_menu_img_01.png", alt="道具").menu__content__img
            a(href="#")
              .menu__content__box
                .menu__content__items
                  h2.title SYSTEM
                  span.title--line
                  span.title--text 施術の流れをご紹介
              .menu__content__side CONTENT 02
              .btn

          .menu__content
            img(src="/img/about_menu_img_02.png", alt="板").menu__content__img
            a(href="#")
              .menu__content__box
                .menu__content__items
                  h2.title MENU
                  span.title--line
                  span.title--text オススメのメニューをご紹介
              .menu__content__side CONTENT 03
              .btn

      section.photo#Photo
        .photo__container
          h2.photo__title PHOTO
            span.title--line
          //カルーセル処理
          .swiper-container.slider2
            .swiper-wrapper
              .swiper-slide
                img.swiper-slide-img(src="../img/photo_img_01.png", alt="机と椅子")
              .swiper-slide
                img.swiper-slide-img(src="../img/photo_img_02.png", alt="葉っぱのインテリア")
              .swiper-slide
                img.swiper-slide-img(src="../img/photo_img_03.png", alt="机と椅子とインテリア")
              .swiper-slide
                img.swiper-slide-img(src="../img/photo_img_04.png", alt="お店内にlogo")
              .swiper-slide
                img.swiper-slide-img(src="../img/photo_img_05.png", alt="木のインテリア")
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next

      section.shop#Shop
        .shop__container
          h2.shop__title SHOP
            span.title--line
          .shop__table
            dl
              dt
                | 店舗名
              dd
                | tocotoco（トコトコ）
            dl
              dt
                | 住所
              dd
                | 〒462-0847
                br
                | 愛知県名古屋市北区金城３丁目６-７ 第２新明ビル1F
                br
                a(href="#") Google mapを見る
            dl
              dt
                | 開店時間
              dd
                | 10:00 〜 19:00
            dl
              dt
                | 定休日
              dd
                | 火、木曜日
            dl
              dt
                | 駐輪場
              dd
                |「三井のリパーク金城３丁目」に入って26番、32番がtocotocoの駐車場です。
            dl
              dt
                | 動物取扱業登録番号
              dd
                | 保管：第300686号
                br
                | 登録年月日：H30.5.23
                br
                | 有効期限：H35.5.22
                br
                | 取扱責任者：平岡愛
                br
      section.contact#Contact
        .contact__contents
          p.contact__text ご予約の方は、下記電話番号からご連絡ください。
          a.contact__btn(href="tel:")
            .contact__btn__text
              span TEL
              span 052 908 1777
              .btn
          p.contact__text 予約受付時間 10:00 〜 19:00
    footer.footer
      .footer__container
        .footer__logo
        .footer__contents
          p.footer__text
            | 1F, No.2 shinmei Bldg. 3-6-7, Kinjo,<br>
            | Kita-ku Nagoya-shi,<br>
            | Aichi, 462-0847, Japan<br>
          .footer__copyrite
            small ©tocotoco trimming salon
        a(href="").top__btn#PageTopBtn
  <!-- script置き場 -->
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
  script(src="https://code.jquery.com/jquery-2.2.3.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.js")
  script(src="js/swiper.min.js")
  script(src="js/trigger.min.js")
  script(src="js/scroll.min.js")

