<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title コーディング練習
    meta(name="description" content="メンターとの模写")
    meta(name="keywords" content="模写、コーディング, HTML")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
  body
    h1 テスト