<!DOCTYPE html>
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title コーディング練習
    meta(name="description" content="メンターとの模写")
    meta(name="keywords" content="模写、コーディング, HTML")
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css")
    link(href="https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy&display=swap" rel="stylesheet")
  body
    header.header
      .header__container
        .header__trigger
          span
          span
          span
        nav.header__nav
          ul.header__list
            li.header__list__item
              a(href="#") ABOUT
            li.header__list__item
              a(href="#") SYSTEM
            li.header__list__item
              a(href="#") MENU
            li.header__list__item
              a(href="#") SHOP
            li.header__list__item
              a(href="#") CONTACT
        h1.header__logo
    main
      section.mainvisual
        .mainvisual__container
          .swiper__container
            .swiper-wrapper
              .swiper-slide
                img.swiper-slide__img(src="../img/mv_img_01.png" alt="Swiper01")
                .swiper-slide-content.swiper-slide-content-1
                  span IMAGE PHOTO,TRIMMING
              .swiper-slide
                img.swiper-slide__img(src="../img/mv_img_02.png" alt="Swiper02")
                .swiper-slide-content.swiper-slide-content-2
                  span IMAGE PHOTO,ENTRANCE
              .swiper-slide
                img.swiper-slide__img(src="../img/mv_img_03.png" alt="Swiper03")
                .swiper-slide-content.swiper-slide-content-3
                  span IMAGE PHOTO,INTERIOR
          .mainvisual__contents
            h2.mainvisual__logo
            .mainvisual__logo__text
              | 1F, No.2 shinmei Bldg. 3-6-7, Kinjo,<br>
              | Kita-ku Nagoya-shi,<br>
              | Aichi, 462-0847, Japan
          .mainvisual__line
            span.mainvisual__line--min 1
            .swiper-pagination
            span.mainvisual__line--max 3
          //btn画像
          a(href="#").mainvisual__btn

      section.about
        .about__container
          h2.about__title ABOUT
            span.about__title--line
            span.about__title--text 私たちの思い
            .about__side CONTENT 01
          p.about__text2
            |「ワンちゃん」のことをとことん考えた、<br>
            |「ワンちゃん」に優しい、<br>
            | ストレスケアをしっかり考えたお店。
          a(href="#")
            .btn READ MORE

      section.menu
        .menu__container
          .menu__content
            img(src="/img/about_menu_img_01.png", alt="道具").menu__content__img
            a(href="#")
              .menu__content__box
                .menu__content__items
                  h2.title SYSTEM
                  span.title--line
                  span.title--text 施術の流れをご紹介
              .menu__content__side CONTENT 02
              .btn

          .menu__content
            img(src="/img/about_menu_img_02.png", alt="板").menu__content__img
            a(href="#")
              .menu__content__box
                .menu__content__items
                  h2.title MENU
                  span.title--line
                  span.title--text オススメのメニューをご紹介
              .menu__content__side CONTENT 03
              .btn

      section.photo
        .photo__container
          h2.photo__title PHOTO
            span.title--line
          //カルーセル処理

      section.shop
        .shop__container
          h2.shop__title SHOP
            span.title--line
          table.shop__table
            tr
              th
                | 店舗名
              td
                | tocotoco（トコトコ）
            tr
              th
                | 住所
              td
                | 〒462-0847<br>
                | 愛知県名古屋市北区金城３丁目６-７ 第２新明ビル1F<br>
                a(href="") Google mapを見る
            tr
              th
                | 開店時間
              td
                | 10:00 〜 19:00
            tr
              th
                | 定休日
              td
                | 火、木曜日
            tr
              th
                | 駐輪場
              td
                |「三井のリパーク金城３丁目」に入って26番、32番がtocotocoの<br>
                | 駐車場です。
            tr
              th
                | 動物取扱業登録番号
              td
                | 保管：第300686号<br>
                | 登録年月日：H30.5.23<br>
                | 有効期限：H35.5.22<br>
                | 取扱責任者：平岡愛<br>
      section.contact
        .contact__container
          p.contact__text ご予約の方は、下記電話番号からご連絡ください。
          a.contact__btn(href="")
            .contact__btn__text TEL 052 908 1777
          p.contact__text 予約受付時間 10:00 〜 19:00
    footer.footer
      .footer__container
        .footer__logo
        .footer__contents
          p.footer__text
            | 1F, No.2 shinmei Bldg. 3-6-7, Kinjo,<br>
            | Kita-ku Nagoya-shi,<br>
            | Aichi, 462-0847, Japan<br>
          .footer__copyrite
            small ©tocotoco trimming salon
        a(href="").top__btn
  <!-- script置き場 -->
  script(src="https://code.jquery.com/jquery-2.2.3.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.js")
  script(src="js/swiper.min.js")

