/* header */
.header
  height: 100%
  width: 100%
  &__container
    height: 18rem
    display: flex
    justify-content: space-between
    align-items: center
    position: relative
    +mq(sp)
      height: 9rem
  &__trigger
    height: 1.8rem
    width: 2.5rem
    cursor: pointer
    margin-left: 2.5rem
    position: relative//span用
    z-index: 100
    +mq(pc)
      display: none
    &.active
      transition: 2s
      position: absolute
      top: 3.5rem
      left: 0
      span
        background: $white
        &:nth-of-type(1)
          transform: translateY(11px) rotate(-45deg)
        &:nth-of-type(2)
          opacity: 0
        &:nth-of-type(3)
          transform: translateY(-6px) rotate(45deg)
    span
      position: absolute
      left: 0
      display: inline-block
      background: $font-color
      height: .1rem
      width: 100%
      transition: .4s
      &:nth-of-type(1)
        top: 0
      &:nth-of-type(2)
        top: .8rem
      &:nth-of-type(3)
        bottom: 0
  &__nav
    margin-left: 8rem
    font-size: 1.4rem
    letter-spacing: .15em
    line-height: 1.4rem
    font-family: $font_en
    +mq(sp)
      width: 100%
      height: auto
      transition: all .5s
      position: fixed
      top: 0
      right: 0
      z-index: 10
      opacity: 0
      //display: none
    &.open
      +mq(sp)
        transition: 1s
        opacity: 1
        //display: block
  &__list
    display: flex
    +mq(sp)
      display: block
      height: 100vh
      z-index: 10
      font-size: 2rem
      line-height: 2rem
      letter-spacing: .15em
      background: $font-color
      padding-top: 14rem
      padding-left: 5rem
      a
        color: $white
    &__item
      margin-right: 4rem
      +mq(sp)
        margin-bottom: 3rem
      &:first-child
        display: none
        +mq(sp)
          display: block
      &:nth-of-type(6)
        margin-right: 0
    small
      display: none
      +mq(sp)
        display: block
        font-size: 1rem
        line-height: 1rem
        color: $white
        margin-top: 6rem
  &__logo
    background-image: url("../img/スクリーンショット 2020-03-23 21.33.44.png")
    width: 9rem
    height: 9rem
    margin-right: 9rem
    +mq(sp)
      position: absolute
      right: 0
      height: 5rem
      width: 5rem
      background-size: contain
      margin-right: 3rem
